.bluetooth-overview-icon {
    font-family: tabler-icons;
    font-size: 30px;
}

.bluetooth-overview-label {
    font-size: 24px;
}

.bluetooth-overview-button {
    background-color: var(--background-alt);
    padding: 10px;
    box-shadow: 0px 0px 5px var(--background-alt);
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bluetooth-overview-button:hover {
    background-color: var(--background-highlight);
    box-shadow: 0px 0px 5px var(--highlight);
}

.bluetooth-overview-button:hover label {
    color: var(--foreground-alt);
}

.bluetooth-connections-icon {
    font-family: tabler-icons;
    font-size: 40px;
}

#bluetooth-connections {
    background-color: var(--background);
    border-radius: 0px 0px 20px 20px;
    min-height: 575px;
}

#bluetooth-devices-scrolled-window {
    min-width: 500px;
    background-color: var(--background-alt);
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 5px var(--background-alt);
}

.bluetooth-device-element {
    padding: 20px;
    background-color: var(--background-highlight);
    box-shadow: 0px 0px 2px var(--background-highlight)
}

.bluetooth-device-element-icon {
    font-family: tabler-icons;
}