:vars {
    --foreground: #dcf4ff;
    --foreground-alt: #ffffff;
    --background: #131313;
    --background-alt: #303030;
    --background-highlight: #505050;
    --highlight: #f1eeff;
    --status-ok: #1eae42;
    --status-fail: #ffece9;
}