:vars {
    --foreground: #cebdfe;
    --foreground-alt: #e6e1e9;
    --background: #141218;
    --background-alt: #211f25;
    --background-highlight: #3b383f;
    --highlight: #efb8c9;
    --status-ok: #1eae42;
    --status-fail: #ffb4ab;
}