:vars {
    --foreground: #cebdff;
    --foreground-alt: #e2e2e2;
    --background: #131313;
    --background-alt: #202020;
    --background-highlight: #393939;
    --highlight: #efb8c9;
    --status-ok: #1eae42;
    --status-fail: #ffb4ab;
}