#media-control {
    margin-top: 10px;
    margin-left: 20px;
    background-color: var(--background);
    padding: 0px 10px;
    min-height: 50px;
}

.media-control-icon {
    font-family: tabler-icons;
    font-size: 24px;
}

#info-box {
    padding-left: 10px;
    margin: 10px 0px;
}

#info-box-title {
    font-size: 12px;
}

#info-box-artist {
    font-size: 10px;
}