#volume-osd-scale {
    background-color: var(--background-alt);
    min-width: 400px;
    min-height: 50px;
    border: 5px solid var(--foreground);
}

#volume-osd-scale trough {
    padding: 0 10px;
}

#volume-osd-scale trough highlight {
    background-color: var(--background);
    min-height: 50px;
    min-width: 25px;
    margin: 0 -10px;
    border-radius: 15px;
}

.volume-osd-label {
    font-family: tabler-icons;
    font-size: 40px;
    margin-top: -60px;
}