.small-switch-off,
.small-switch-on,
.switch-off,
.switch-on {
    margin: 4px;
}

.switch-on trough,
.switch-off trough,
.small-switch-on trough,
.small-switch-off trough {
    box-shadow: var(--foreground) 0px 0px 2px;
    background-color: var(--foreground);
}

.switch-on trough,
.switch-off trough {
    border-radius: 15px;
    min-width: 70px;
    min-height: 40px;
    
}

.small-switch-on trough,
.small-switch-off trough {
    border-radius: 10px;
    min-width: 55px;
    min-height: 30px;
}

.switch-on slider,
.switch-off slider {
    min-width: 30px;
    min-height: 30px;
    box-shadow: var(--background-alt) 0px 0px 2px;
    background-color: var(--background-alt);
}

.small-switch-on slider,
.small-switch-off slider {
    min-width: 25px;
    min-height: 25px;
    box-shadow: var(--background-alt) 0px 0px 2px;
    background-color: var(--background-alt);
}

.switch-on trough {
    padding-right: 20px;
}

.switch-off trough {
    padding-left: 20px;
}

.small-switch-on trough {
    padding-right: 15px;
}

.small-switch-off trough {
    padding-left: 15px;
}


.small-switch-icon-off,
.small-switch-icon,
.switch-icon-off,
.switch-icon {
    font-family: tabler-icons;
    color: var(--background);
}

.switch-icon,
.switch-icon-off {
    font-size: 40px;
}

.switch-icon {
    margin-left: 10px;
}

.switch-icon-off {
    margin-right: 10px;
}

.small-switch-icon-off,
.small-switch-icon {
    font-size: 30px;
}

.small-switch-icon {
    margin-left: 8px;
}

.small-switch-icon-off {
    margin-right: 8px;
}