@import url("../shell/styles/colors.css");
@import url("./styles/app_element.css");
@import url("./styles/runner.css");

* {
    all: unset;
    color: var(--foreground);
    font-family: "Lilex Nerd Font Mono";
    font-size: 30px;
    border-radius: 20px;
}